/*Quitamos margin y padding por defecto del nav.*/
/*
Por  C O N V E N C I Ó N
Colocar estilos de acuerdo a:
1. Posicionamiento (padding-margin)
Una vez posicionado:
2. Dimensiones - Modelo de caja (Box Model)
3. Tiporgafía (Fuentes. Tipos y tamaños)
4. Efectos Visuales (shadow-box, border-radius)
5. Otros (Nuevas reglas en css)
*/


:root{
    /*Declaramos variables de colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

/*Model Box*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /*Para usar 'rem', dejar el font-size en 62.5%*/
    font-size: 62.5%;
    /*Para font family copiamos el texto del google fonts*/
    font-family: 'DM Sans', sans-serif;
}
/*Toda la etiqueta 'header' */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;   
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1c, #F7931A 100%);
}
/*La imagen del header 'Batatabit' */
header img{
    width: 150px;
    height:24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 178px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

/*Ocupar el máximo de especificidad*/
.header--title-container h1{
    font-size: 2.4rem; /* 24px = 2.4rem */
    font-weight: bold;
    line-height: 2.9rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--soft-orange)
}